<h1>Picture Details for All Pictures</h1>

<%= link_to "Add a new picture", new_picture_url %>

<% @list_of_pictures.each do |pic| %>
	<li>
		<%= image_tag(pic.source, :width => 200) %>
		<%= pic.caption %>
		<%= link_to("Show", picture_url(pic.id), :method => "get") %>
		<%= link_to("Edit", edit_picture_url(pic.id), :method => "get") %>
		<%= link_to("Delete", picture_url(pic.id), :method => "delete") %>
	</li>
<% end %>	
