<h1>New Picture Form</h1>

<%= form_tag("http://localhost:3000/create_picture") do %>
  <div>
    <%= label_tag :caption %>
    <%= text_field_tag :caption %>
  </div>
  <div>
    <%= label_tag :source, "Image URL:" %>
    <%= text_field_tag :source %>
  </div>
  <div>
    <%= submit_tag "Create Picture" %>
  </div>

<% end %>